:root {
  --first-brand-color: #2e2f42;
  --second-brand-color: #4d5ae5;
  --third-brand-color: #f4f4fd;
  --fourth-brand-color: #e7e9fc;
  --fifth-brand-color: #404bbf;
  --sixth-brand-color: #8e8f99;
  --seventh-brand-color: #fcfcfc;
  --eighth-brand-color: #31d0aa;

  --main-text-color: #434455;
  --sub-text-color: #ffffff;

  --main-bg-color: #fff;

  --main-font-family: 'Roboto', sans-serif;
  --sub-font-family: 'Raleway', sans-serif;
}
*,
*::before,
*::after {
  margin: 0;
  box-sizing: border-box;
}
body {
  font-family: var(--main-font-family);
  color: var(--main-text-color);
  font-size: 16px;
  line-height: 1.5;
  font-weight: 400;
  letter-spacing: 0.02em;
  background-color: var(--main-bg-color);
}
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin-top: 0;
  margin-bottom: 0;
}
ul {
  list-style: none;
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
}
a {
  text-decoration: none;
}
img {
  display: block;
  max-width: 100%;
  height: auto;
}
button {
  cursor: pointer;
}
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
.container {
  max-width: 1158px;
  padding-left: 15px;
  padding-right: 15px;
  margin: 0 auto;
}
.sub-title {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  color: var(--first-brand-color);
  letter-spacing: 0.02em;
  margin-bottom: 8px;
}
.section-title {
  color: var(--first-brand-color);
  font-size: 36px;
  line-height: 1.11;
  text-transform: capitalize;
  text-align: center;
  letter-spacing: 0.02em;
  margin-bottom: 72px;
}
/* HEADER */

.logo {
  color: var(--second-brand-color);
  font-family: var(--sub-font-family);
  font-weight: 800;
  font-size: 18px;
  line-height: 1.17;
  text-transform: uppercase;
  letter-spacing: 0.03em;
  margin-right: 76px;
}
.logo-span {
  color: var(--first-brand-color);
}
.header {
  border-bottom: 1px solid var(--fourth-brand-color);
  box-shadow: 0px 2px 1px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 1px 6px rgba(46, 47, 66, 0.08);
}
.header .container {
  display: flex;
  align-items: center;
}
.nav {
  display: flex;
  align-items: center;
}
.nav-menu {
  display: flex;
}
.nav-menu-item:not(:last-child) {
  margin-right: 40px;
}
.nav-menu-link {
  font-weight: 500;
  color: var(--first-brand-color);
  padding: 24px 0;
  display: block;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.nav-menu-link:hover,
.nav-menu-link:focus {
  color: var(--fifth-brand-color);
}
.header-address {
  font-style: normal;
  margin-left: auto;
}
.header-address-list {
  display: flex;
}
.header-address-item:not(:last-child) {
  margin-right: 40px;
}
.header-address-link {
  font-family: var(--main-font-family);
  color: var(--main-text-color);
  font-size: 16px;
  line-height: 1.5;
  font-weight: 400;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.header-address-link:hover,
.header-address-link:focus {
  color: var(--fifth-brand-color);
}
.current {
  position: relative;
  color: var(--fifth-brand-color);
}
.current::after {
  position: absolute;
  content: '';
  width: 100%;
  height: 4px;
  border-radius: 2px;
  background-color: var(--fifth-brand-color);
  bottom: -1px;
  left: 0;
}
/* HERO */
.hero {
  background-image: linear-gradient(
      to bottom,
      rgba(46, 47, 66, 0.7),
      rgba(46, 47, 66, 0.7)
    ),
    url('../images/bg.jpg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  padding: 188px 0;
  max-width: 1440px;
  margin: 0 auto;
}
.hero-title {
  text-align: center;
  font-size: 56px;
  line-height: 1.07;
  color: var(--sub-text-color);
  letter-spacing: 0.02em;
  max-width: 496px;
  margin: 0 auto 48px;
}
.hero-btn {
  font-weight: 500;
  color: var(--sub-text-color);
  background-color: var(--second-brand-color);
  letter-spacing: 0.04em;
  line-height: 1.5;
  font-family: var(--main-font-family);
  font-size: 16px;
  cursor: pointer;
  margin: 0 auto;
  border: none;
  padding: 16px 32px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  display: block;
  min-width: 169px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.hero-btn:hover,
.hero-btn:focus {
  background-color: var(--fifth-brand-color);
}

/* MISSION */
.mission {
  padding-top: 120px;
  padding-bottom: 120px;
}
.mission-list {
  display: flex;
  gap: 24px;
}
.mission-item {
  width: calc((100% - 72px) / 4);
}
.mission-item-icon-box {
  background-color: var(--third-brand-color);
  height: 112px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 8px;
  border-radius: 4px;
}
/* DOING */
.doing {
  padding-bottom: 120px;
}
.doing-list {
  display: flex;
  gap: 24px;
}
.doing-item {
  width: calc((100% - 48px) / 3);
}
/* TEAM */
.team {
  background-color: var(--third-brand-color);
  padding-top: 120px;
  padding-bottom: 120px;
}
.team-list {
  display: flex;
  gap: 24px;
}
.team-item {
  background-color: var(--main-bg-color);
  width: calc((100% - 72px) / 4);
  border-radius: 0px 0px 4px 4px;
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
}
.team-item-box {
  padding: 32px 0;
  text-align: center;
}
.team-item-text {
  font-size: 16px;
  margin-bottom: 8px;
}
.social-list {
  display: flex;
  gap: 24px;
  justify-content: center;
}
.social-item {
  width: 40px;
  height: 40px;
}
.social-item-link {
  background-color: var(--second-brand-color);
  width: 100%;
  height: 100%;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.social-item-link:hover,
.social-item-link:focus,
.footer-form-button:hover,
.footer-form-button:focus,
.modal-form-button:hover,
.modal-form-button:focus {
  background-color: var(--fifth-brand-color);
}
.footer-social-list .social-item-link:hover,
.footer-social-list .social-item-link:focus {
  background-color: var(--eighth-brand-color);
}
.social-item-icon {
  fill: var(--third-brand-color);
}
.footer-box-right {
  margin-right: 80px;
}
.footer-form {
  display: flex;
  align-items: flex-end;
  gap: 24px;
}
.footer-form-input {
  width: 264px;
  height: 40px;
  padding: 8px 16px;
  border-radius: 4px;
  border: 1px solid var(--main-bg-color);
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  background-color: transparent;
  color: var(--sub-text-color);
  font-size: 12px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.footer-form ::placeholder {
  color: var(--sub-text-color);
  font-size: 12px;
  line-height: 2;
  letter-spacing: 0.04em;
}
.footer-form-input:focus {
  border-color: var(--second-brand-color);
  outline: transparent;
}
.footer-form-button {
  background-color: var(--second-brand-color);
  font-weight: 500;
  color: var(--sub-text-color);
  border: none;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 8px 24px;
  border-radius: 4px;
  letter-spacing: 0.64px;
  line-height: 1.5;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  min-width: 165px;
}
.footer-form-button svg {
  fill: var(--main-bg-color);
  margin-left: 16px;
}
.footer-form-label {
  color: var(--sub-text-color);
  font-weight: 500;
}
/* FOOTER */
.footer {
  padding-top: 100px;
  padding-bottom: 100px;
  background-color: var(--first-brand-color);
}
.footer .container {
  display: flex;
  align-items: baseline;
}
.footer .logo {
  margin-bottom: 16px;
  display: inline-block;
}
.footer-logo-span {
  color: var(--third-brand-color);
}
.footer-text {
  color: var(--third-brand-color);
}
.footer-box-left {
  max-width: 264px;
  margin-right: 120px;
}
.footer-box-text {
  margin-bottom: 16px;
  color: var(--sub-text-color);
  font-weight: 500;
}
.social-list.footer-social-list {
  gap: 16px;
}
/* PORTFOLIO */
.portfolio {
  padding-top: 96px;
  padding-bottom: 120px;
}
.buttons-item-button {
  font-weight: 500;
  color: var(--second-brand-color);
  background-color: var(--third-brand-color);
  letter-spacing: 0.04em;
  font-family: var(--main-font-family);
  font-size: 16px;
  cursor: pointer;
  line-height: 1.5;
  padding: 12px 24px;
  border: none;
  border: 1px solid var(--fourth-brand-color);
  border-radius: 4px;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.buttons-item-button:hover,
.buttons-item-button:focus {
  background-color: var(--fifth-brand-color);
  color: var(--sub-text-color);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 2px 1px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
  border-color: transparent;
}
.portfolio-list {
  display: flex;
  flex-wrap: wrap;
  gap: 48px 24px;
}
.portfolio-item {
  background-color: var(--main-bg-color);
  width: calc((100% - 48px) / 3);
}
.portfolio-item-text {
  color: var(--main-text-color);
}
.portfolio-link {
  display: block;
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.portfolio-link:hover,
.portfolio-link:focus {
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
}
.buttons-list {
  display: flex;
  justify-content: center;
  gap: 24px;
  margin-bottom: 72px;
}
.portfolio-item-box {
  padding: 32px 16px;
  border: 1px solid var(--fourth-brand-color);
  border-top: none;
}
.portfolio-overlay-box {
  position: relative;
  overflow: hidden;
}
.portfolio-overlay-text {
  color: var(--third-brand-color);
  background-color: var(--second-brand-color);
  position: absolute;
  height: 100%;
  width: 100%;
  padding: 40px 32px;
  top: 0;
  left: 0;
  transform: translateY(100%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.portfolio-link:hover .portfolio-overlay-text,
.portfolio-link:focus .portfolio-overlay-text {
  transform: translateY(0);
}
/* CUSTOMERS */
.customers {
  padding-top: 120px;
  padding-bottom: 120px;
}
.customers-list {
  display: flex;
  gap: 24px;
}
.customers-box {
  width: 168px;
  height: 88px;
  border: 1px solid var(--sixth-brand-color);
  border-radius: 4px;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  color: var(--sixth-brand-color);
}
.customers-icon {
  fill: currentColor;
}
.customers-box:hover,
.customers-box:focus {
  border-color: var(--fifth-brand-color);
  color: var(--fifth-brand-color);
}
/* MODAL */
.backdrop {
  width: 100vw;
  height: 100vh;
  position: fixed;
  background: rgba(46, 47, 66, 0.4);
  top: 0;
  z-index: 2;
  transition: visibility 250ms cubic-bezier(0.4, 0, 0.2, 1),
    opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(1);
  width: 408px;
  min-height: 584px;
  background: var(--seventh-brand-color);
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 1px 3px rgba(0, 0, 0, 0.12),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  padding: 72px 24px 24px;
}
.modal-btn {
  position: absolute;
  width: 24px;
  height: 24px;
  border-radius: 50%;
  top: 24px;
  right: 24px;
  border: 1px solid rgba(0, 0, 0, 0.1);
  background-color: var(--fourth-brand-color);
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  padding: 0;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-btn:hover,
.modal-btn:focus {
  background-color: var(--fifth-brand-color);
  border: none;
}
.modal-btn-svg {
  fill: var(--first-brand-color);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-btn:hover .modal-btn-svg,
.modal-btn:focus .modal-btn-svg {
  fill: var(--sub-text-color);
}
.is-hidden {
  visibility: hidden;
  opacity: 0;
  pointer-events: none;
}
.backdrop.is-hidden .modal {
  transform: translate(0, -50%);
}
.modal-form-title {
  font-weight: 500;
  color: var(--first-brand-color);
  margin-bottom: 16px;
  letter-spacing: 0.32px;
  text-align: center;
}
.modal-form-label {
  color: var(--sixth-brand-color);
  font-size: 12px;
  line-height: 1.17;
  margin-bottom: 4px;
  letter-spacing: 0.04em;
  display: block;
}
.modal-form-input-wrap {
  position: relative;
}
.modal-form-field-wrap {
  margin-bottom: 8px;
}
.modal-form-input {
  border-radius: 4px;
  border: 1px solid rgba(46, 47, 66, 0.4);
  background-color: transparent;
  width: 100%;
  height: 40px;
  padding: 8px 16px 8px 38px;
  outline: transparent;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  font-size: 12px;
  line-height: 1.16;
  letter-spacing: 0.04em;
  color: var(--first-brand-color);
}
.modal-input-svg {
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  fill: var(--first-brand-color);
  position: absolute;
  top: 50%;
  left: 16px;
  transform: translateY(-50%);
}
.modal-form-input:focus + .modal-input-svg {
  fill: var(--second-brand-color);
}
.modal-form-input:focus,
.modal-form-textarea:focus {
  border-color: var(--second-brand-color);
}
.modal-form-textarea {
  border-radius: 4px;
  border: 1px solid rgba(46, 47, 66, 0.4);
  background-color: transparent;
  width: 100%;
  height: 120px;
  padding: 8px 16px;
  outline: transparent;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  resize: none;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: rgba(46, 47, 66, 0.4);
}
.modal-form-textarea-box {
  margin-bottom: 16px;
}
.modal-form ::placeholder {
  color: rgba(46, 47, 66, 0.4);
  font-size: 12px;
  line-height: 1.16;
  letter-spacing: 0.04em;
}
.modal-form-button {
  padding: 16px 32px;
  border-radius: 4px;
  background: var(--second-brand-color);
  color: var(--sub-text-color);
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
  border: none;
  margin: 0 auto;
  font-weight: 500;
  letter-spacing: 0.04em;
  min-width: 169px;
  height: 56px;
  display: block;
  cursor: pointer;
  line-height: 1.5;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.checkbox-box {
  margin-bottom: 24px;
}
.checkbox-box .modal-form-label {
  margin-bottom: 0;
}
.modal-checkbox-span {
  border-radius: 2px;
  border: 1px solid rgba(46, 47, 66, 0.4);
  background-color: transparent;
  width: 16px;
  height: 16px;
  outline: transparent;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1),
    fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  margin-right: 8px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  fill: transparent;
}
.modal-checkbox-link {
  color: var(--second-brand-color);
  text-decoration: underline;
  margin-left: 3px;
}
.modal-form-checkbox:checked + .modal-form-label > .modal-checkbox-span {
  background-color: var(--fifth-brand-color);
  border: none;
  fill: var(--third-brand-color);
}
